{% extends 'base.html' %}

{% block content %}
    <div class="page-header">
        <h3 class="text-center">Maplecroft latest tweets</h3>
    </div>

    <div class="container">
        <div class="col-md-6">
             {% if tweets %}
                {% for tweet in tweets %}
                    <div class="row">
                        <a href="{{ tweet.user.url }}">{{ tweet.user.name }}</a>
                        <small>{{ tweet.created_at }}</small>
                        <p>{{ tweet.text|safe }}</p>
                    </div>
                {% endfor %}
            {% else %}
                <p>There is not tweets</p>
            {% endif %}
        </div>

        <div class="col-md-6">
            {% if map_data|length_is:"1" %}
                <h3 class="text-center">Sorry there are no tweets with locations.<br> We can't show map.</h3>
            {% else %}
                <div id="chart_div" style="width: 100%; height: 500px;"></div>
            {% endif %}
        </div>
    </div>
{% endblock content %}